<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>count</key>
		<integer>981</integer>
		<key>icon</key>
		<string>apple-fitness</string>
		<key>name</key>
		<string>apple-fitness</string>
		<key>price</key>
		<integer>4474</integer>
		<key>title</key>
		<string>Glenna20</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>774</integer>
		<key>icon</key>
		<string>apple-logo</string>
		<key>name</key>
		<string>apple-logo</string>
		<key>price</key>
		<integer>5109</integer>
		<key>title</key>
		<string>Glenna20</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>45</integer>
		<key>icon</key>
		<string>apple-music-lyrics</string>
		<key>name</key>
		<string>apple-music-lyrics</string>
		<key>price</key>
		<integer>1349</integer>
		<key>title</key>
		<string>Rozella_Trantow</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>43</integer>
		<key>icon</key>
		<string>apple-tv</string>
		<key>name</key>
		<string>apple-tv</string>
		<key>price</key>
		<integer>1564</integer>
		<key>title</key>
		<string>Shirley.Weimann</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>548</integer>
		<key>icon</key>
		<string>find-iphone</string>
		<key>name</key>
		<string>find-iphone</string>
		<key>price</key>
		<integer>517</integer>
		<key>title</key>
		<string>Shirley.Weimann</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>710</integer>
		<key>icon</key>
		<string>ibooks</string>
		<key>name</key>
		<string>ibooks</string>
		<key>price</key>
		<integer>3542</integer>
		<key>title</key>
		<string>Destiney_Goldner</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>792</integer>
		<key>icon</key>
		<string>icloud</string>
		<key>name</key>
		<string>icloud</string>
		<key>price</key>
		<integer>5731</integer>
		<key>title</key>
		<string>Shirley.Weimann</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>840</integer>
		<key>icon</key>
		<string>imovie</string>
		<key>name</key>
		<string>imovie</string>
		<key>price</key>
		<integer>5339</integer>
		<key>title</key>
		<string>Ellen98</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>785</integer>
		<key>icon</key>
		<string>ios-photos</string>
		<key>name</key>
		<string>ios-photos</string>
		<key>price</key>
		<integer>9028</integer>
		<key>title</key>
		<string>Glenna20</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>358</integer>
		<key>icon</key>
		<string>mail</string>
		<key>name</key>
		<string>mail</string>
		<key>price</key>
		<integer>1042</integer>
		<key>title</key>
		<string>Estrella_Toy48</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>846</integer>
		<key>icon</key>
		<string>maps</string>
		<key>name</key>
		<string>maps</string>
		<key>price</key>
		<integer>9334</integer>
		<key>title</key>
		<string>Shirley.Weimann</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>374</integer>
		<key>icon</key>
		<string>music</string>
		<key>name</key>
		<string>music</string>
		<key>price</key>
		<integer>6930</integer>
		<key>title</key>
		<string>Clemmie.Little67</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>553</integer>
		<key>icon</key>
		<string>shortcuts</string>
		<key>name</key>
		<string>shortcuts</string>
		<key>price</key>
		<integer>6631</integer>
		<key>title</key>
		<string>Naomie7</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>819</integer>
		<key>icon</key>
		<string>swiftui</string>
		<key>name</key>
		<string>swiftui</string>
		<key>price</key>
		<integer>3225</integer>
		<key>title</key>
		<string>Destiney_Goldner</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>706</integer>
		<key>icon</key>
		<string>touch-id</string>
		<key>name</key>
		<string>touch-id</string>
		<key>price</key>
		<integer>8910</integer>
		<key>title</key>
		<string>Demarcus.Gleason</string>
	</dict>
	<dict>
		<key>count</key>
		<integer>524</integer>
		<key>icon</key>
		<string>translate-app</string>
		<key>name</key>
		<string>translate-app</string>
		<key>price</key>
		<integer>1186</integer>
		<key>title</key>
		<string>Clemmie.Little67</string>
	</dict>
</array>
</plist>
